models/saved/
# Virtual environments
.venv/
venv/
ENV/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Excluir ejecutables de Python
python
python.exe
.python-version

# Excluir llaves
*.pem