include *.txt
include *.md
include *.pkl
recursive-include ./model/*

include model/datasets/data_seattle_test.csv
include model/datasets/data_seattle.csv
include model/trained/*.pkl
include model/VERSION
include model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]